.segmentScreenContent {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw
}

.segmentTitleContainer {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  align-self: flex-start;
  width: inherit;
  margin-left: -5px
}

.segmentScreenTitle {
  font-size: 40px;
  text-align: center;
  margin-left: 30px
}

.segmentInputFields {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

.segmentInputRow {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: -10px
}

.segmentInputForm {
  height: 25px;
  width: 175px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #E5E5E5;
}

.segmentIconRow {
  margin-top: 15px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%
}

.segmentIconUnderline {
  border: none;
  height: 1px;
  background-color: #989898;
  width: 100%
}

.segmentContent {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 47.5vh;
  overflow-y: scroll
}

.segmentSaveButton {
  background: #3272BE;
  height: 46px;
  width: 100px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px
}

.segmentSaveText {
  color: #FFF;
  font-size: 18px
}

.flightSegmentContent {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5px;
}

.flightSegmentInputRow {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: -10px
}

.segmentFlightHistory {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.segmentFlightElement {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
}

.transitSegmentContent {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
